OPENAI_API_KEY=YOUR_OPENAI_API_KEY
APIFY_TOKEN=YOUR_APIFY_TOKEN
USDA_API_KEY=YOUR_USDA_API_KEY

BACKEND_BASE_URL=http://localhost:3000
APP_ENV=development
PORT=3000
OPENAI_RECIPE_MODEL=gpt-5-mini
OPENAI_TRANSCRIPTION_MODEL=gpt-4o-transcribe
